#count-label
{
    margin-left: 390px;
    font-size: 50px;
    color:chocolate;
    font-weight: bolder;
   
}

#decrease,
#increase,
#reset

{
  
    width: 80px;
    display: block;
    padding: 10px;
    margin: 15px auto;
   color: rgb(135, 240, 31);
   font-weight: bolder;
   background-color: rgb(20, 100, 175);
}

